MEASWeb/Service References/pushService/MyPushServicePort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://fc.qust.com/" targetNamespace="http://fc.qust.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PushMessage" type="tns:PushMessage" />
  <xs:element name="PushMessageByTopic" type="tns:PushMessageByTopic" />
  <xs:element name="PushMessageByTopicResponse" type="tns:PushMessageByTopicResponse" />
  <xs:element name="PushMessageResponse" type="tns:PushMessageResponse" />
  <xs:complexType name="PushMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PushMessageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PushMessageByTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PushMessageByTopicResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>