MEASWeb/Service References/pushService/MyPushServiceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fc.qust.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyPushServiceService" targetNamespace="http://fc.qust.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://115.28.131.31:8080/MyService/MyPushServicePort?xsd=1" namespace="http://fc.qust.com/" />
    </xsd:schema>
  </types>
  <message name="PushMessage">
    <part name="parameters" element="tns:PushMessage" />
  </message>
  <message name="PushMessageResponse">
    <part name="parameters" element="tns:PushMessageResponse" />
  </message>
  <message name="PushMessageByTopic">
    <part name="parameters" element="tns:PushMessageByTopic" />
  </message>
  <message name="PushMessageByTopicResponse">
    <part name="parameters" element="tns:PushMessageByTopicResponse" />
  </message>
  <message name="PushMessageByTopicSSS">
    <part name="parameters" element="tns:PushMessageByTopicSSS" />
  </message>
  <message name="PushMessageByTopicSSSResponse">
    <part name="parameters" element="tns:PushMessageByTopicSSSResponse" />
  </message>
  <portType name="MyPushServiceDelegate">
    <operation name="PushMessage">
      <input message="tns:PushMessage" />
      <output message="tns:PushMessageResponse" />
    </operation>
    <operation name="PushMessageByTopic">
      <input message="tns:PushMessageByTopic" />
      <output message="tns:PushMessageByTopicResponse" />
    </operation>
    <operation name="PushMessageByTopicSSS">
      <input message="tns:PushMessageByTopicSSS" />
      <output message="tns:PushMessageByTopicSSSResponse" />
    </operation>
  </portType>
  <binding name="MyPushServicePortBinding" type="tns:MyPushServiceDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="PushMessage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PushMessageByTopic">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PushMessageByTopicSSS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyPushServiceService">
    <port name="MyPushServicePort" binding="tns:MyPushServicePortBinding">
      <soap:address location="http://115.28.131.31:8080/MyService/MyPushServicePort" />
    </port>
  </service>
</definitions>